<!-- <div class="container">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Team1</label>
    <div class="dropdown">
      <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Teams
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">india</a>
        <a class="dropdown-item" href="#">australia</a>
        <a class="dropdown-item" href="#">england</a>
      </div>
    </div>
  </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Team2</label>
      <div class="dropdown">
        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Teams
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">india</a>
          <a class="dropdown-item" href="#">australia</a>
          <a class="dropdown-item" href="#">england</a>
        </div>
      </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Toss</label>
        <div class="dropdown">
          <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Teams
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">india</a>
            <a class="dropdown-item" href="#">australia</a>
            <a class="dropdown-item" href="#">england</a>
          </div>
        </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Decision</label>
          <div class="dropdown">
            <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Teams
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">india</a>
              <a class="dropdown-item" href="#">australia</a>
              <a class="dropdown-item" href="#">england</a>
            </div>
          </div>
          </div>
          <div><button type="button" class="btn btn-primary">Primary</button></div>

</form> 
</div>-->




<!-- <div  class="container text-center" >
 <div style="text-align:center" class="form-group row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Team1</label>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Australia</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
 </div>
 <div style="text-align:center" class="form-group row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Team2</label>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
 </div>
 <div style="text-align:center" class="form-group row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Toss</label>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
 </div>
 <div style="text-align:center" class="form-group row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Decision</label>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
 </div>
 <div style="text-align: center"> 
   <button type="button" class="btn btn-primary">Start Ist Inn</button>
 </div>
</div> -->









 <!-- <div class="container col-sm-2 border border-dark my-2 ">
    
  <form >
    <h2 style="text-align: center ">Cricbuzz</h2>
      <div class="form-group">
        <label for="exampleDropdownFormEmail2 ">Team1</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>India</option>
            <option>Australia</option>
            <option>3</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword2">Team2</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
      </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword2">Toss</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Decision</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary my-4">Start 1st Inn</button>
  </form>
</div>  -->







<div class="container col-sm-3 border border-dark my-2 ">

  <form >
    <h2 style="text-align: center ">Cricbuzz</h2>
      <div class="form-group">
        <label for="exampleDropdownFormEmail2" >Team1</label>
          <input class="form-control" type="text" placeholder="Team1" (blur)="onentervalue()" #team1>
          <!-- <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let tp of pname">{{tp.name}}</option>
            
          </select> -->
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword2" >Team2</label>
         <input class="form-control" type="text" placeholder="Team2" (blur)="onentervalue1()" #team2>
          <!-- <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let tp1 of pname">{{tp1.name}}</option>
            
          </select> -->
      </div>
     <div class="form-group">
        <label for="exampleDropdownFormPassword2" >Toss</label>
        <!-- <input class="form-control" type="text" > -->
           <select class="form-control" id="exampleFormControlSelect1" >
             <option >Toss</option> 
             <option>{{t1}}</option>
             <option>{{t2}}</option> 
           </select> 
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword2">Decision</label>
          <!-- <input type="text" > -->
          <select class="form-control">
            <option>Decision</option>
            <option>Batting</option>
            <option>Bowling</option>
          </select>
          <!-- <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let de of desc">{{de.name}}</option>
            
          </select> -->
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword2">No. Of Overs</label>
        <input class="form-control" type="text" >
    </div>
    <button type="button" class="btn btn-primary my-2" (click)="ondecideteamsbuttonclicked()">Decide Teams</button>
  </form>
</div>  








<!-- <div class="container col-sm-2">
    <form class="px-4 py-3">
      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
  </div> -->